<div class="container" [@container]="containerEffect">
  <img class="random-face bye" *ngIf="url" [src]="url" alt="" [@faceAnimated]="faceEffect">
  <div class="buttons">
    <button class="bye button" (mouseover)="changeEffectFace('round')" 
    (mouseleave)="clearEffect()">Round out</button>
    <button class="bye button" (mouseover)="changeEffectFace('rotate')" 
    (mouseleave)="clearEffect()">Rotate</button>
    <button class="bye button" (mouseover)="changeEffectFace('hinge')" 
    (mouseleave)="clearEffect()">Hinge</button>
    <button class="bye button" (mouseover)="changeEffectFace('crazy')" 
    (mouseleave)="clearEffect()">Crazy Time</button>
    <button class="bye button" (mouseover)="changeEffectContainer('bye')" 
    (mouseleave)="clearEffect()">Bye!</button>
  </div>
</div>